<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>es.upm.dit.isst.MainServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Books</servlet-name>
		<servlet-class>es.upm.dit.isst.BooksDashboard</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBook</servlet-name>
		<servlet-class>es.upm.dit.isst.AddBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UsersDashboard</servlet-name>
		<servlet-class>es.upm.dit.isst.UsersDashboard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersDashboard</servlet-name>
		<url-pattern>/manageusers</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveBook</servlet-name>
		<servlet-class>es.upm.dit.isst.RemoveBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveBook</servlet-name>
		<url-pattern>/eliminalibro</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>es.upm.dit.isst.AddUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/nuevousuario</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddResena</servlet-name>
		<servlet-class>es.upm.dit.isst.AddResena</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddResena</servlet-name>
		<url-pattern>/valorarlibro</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BookDetail</servlet-name>
		<servlet-class>es.upm.dit.isst.BookDetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookDetail</servlet-name>
		<url-pattern>/detallelibro</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllBooks</servlet-name>
		<servlet-class>es.upm.dit.isst.AllBooksDashboard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllBooks</servlet-name>
		<url-pattern>/books</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Books</servlet-name>
		<url-pattern>/mybooks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBook</servlet-name>
		<url-pattern>/nuevolibro</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>Main</welcome-file>
	</welcome-file-list>
</web-app>
